# Ignore all the websites that the factory might have made for you; or just generally any website.sh that resides within
# the ./websites/ directory (the home of all your websites for this environment)
websites/*
!websites/index.php

# Ignore all the configurations that the factory might have made for you; or just generally any configuration other than
# the default that has been provided for example.
server/sites-enabled/*
!server/sites-enabled/default.conf

database/*
!database/my.cnf

# Ignore all the IDE files.
.idea

events